<div class="container-fluid text-dark">
  <div class="row">
    <div class="col-sm-12 col-md-3 col-lg-2 mt-4">
      <h4>Pick a date:</h4>
      <input type="date" name="eventDate" class="mt-1">
      <h4 class="mt-4">Pick a category:</h4>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action">Sports</a>
        <a href="#" class="list-group-item list-group-item-action">Markets</a>
        <a href="#" class="list-group-item list-group-item-action">Festivals</a>
        <a href="#" class="list-group-item list-group-item-action">Musea</a>
        <a href="#" class="list-group-item list-group-item-action disabled">Celebrations</a>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-7 ml-3 mr-3 mt-4">
      <h4>Events today:</h4>
      <br>
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-lg-6">
            <a href="https://www.iamsterdam.com/en" target="_blank"><img
              src="../../assets/images/rijksmuseum-amsterdam-museum-iamsterdam.jpg"
              class="img img-fluid rounded h25 m-2"></a>
          </div>
          <div class="col-sm-12 col-lg-6">
            <a href="https://pigeonsdontcry.com/posters/amsterdam/" target="_blank"><img
              src="../../assets/images/city-pigeons-4386572_1920.jpg" class="img img-fluid rounded h25 m-2"></a>
          </div>
          <div class="col-sm-12 col-lg-6">
            <a href="https://amsterdamcanalcruises.nl/nl/" target="_blank"><img
              src="../../assets/images/amsterdam-1150319_1920.jpg" class="img img-fluid rounded h25 m-2"></a>
          </div>
          <div class="col-sm-12 col-lg-6">
            <a
              href="https://www.iamsterdam.com/en/see-and-do/things-to-do/attractions-and-sights/architecture/windmills"
              target="_blank"><img src="../../assets/images/windmill-1546912_1920.jpg"
                                   class="img img-fluid rounded h25 m-2"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-2 bg-info rounded mt-4 pt-2 pb-2" style="height: max-content">
      <h4 class="border-bottom">Windmills</h4>
      <p>
        Windmills are an iconic part of the Dutch landscape, and a visit to one is a must for visitors to the
        Netherlands. And with eight windmills located in and around Amsterdam, windmill spotting is a great way to see
        the city.
      </p>
    </div>
  </div>
</div>
