<div class="col-12" *ngIf="editedEvent">
  <table class="table">
    <thead>
    <tr>
      <th scope="col" colspan="2">Selected event details (id={{editedEventId}})</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row" [ngClass]="'border'">Title:</th>
      <th scope="row" [ngClass]="'border'">
        <input [(ngModel)]="editedEvent.title" (ngModelChange)="checkChanges()"></th>
    </tr>
    <tr>
      <th scope="row" [ngClass]="'border'">Description:</th>
      <th scope="row" [ngClass]="'border'">
        <input [(ngModel)]="editedEvent.description" (ngModelChange)="checkChanges()"></th>
    </tr>
    <tr>
      <th scope="row" [ngClass]="'border'">Status:</th>
      <th scope="row" [ngClass]="'border'">
        <select [(ngModel)]="editedEvent.status" (ngModelChange)="checkChanges()">
          <option>DRAFT</option>
          <option>PUBLISHED</option>
          <option>CANCELED</option>
        </select>
        <!--        <input [(ngModel)]="editedEvent.status" (ngModelChange)="checkChanges()"></th>-->
    </tr>
    <tr>
      <th scope="row" [ngClass]="'border'">Is Ticketed:</th>
      <th scope="row" [ngClass]="'border'">
        <input type="checkBox" name="isTicketedRadio" [(ngModel)]="editedEvent.IsTicketed"/>
        <!--        <input [(ngModel)]="editedEvent.IsTicketed" (ngModelChange)="checkChanges()"></th>-->
    </tr>
    <tr>
      <th scope="row" [ngClass]="'border'">Participat  ion Fee:</th>
      <th scope="row" [ngClass]="'border'">
        <input [(ngModel)]="editedEvent.participationFee" (ngModelChange)="checkChanges()"></th>
      <p></p>
    </tr>
    <tr>
      <th scope="row" [ngClass]="'border'">Max. Participation:</th>
      <th scope="row" [ngClass]="'border'">
        <input [(ngModel)]="editedEvent.maxParticipants" (ngModelChange)="checkChanges()"></th>
    </tr>
    </tbody>
  </table>
  <button
    [disabled]="checkChanges()"
    class="btn btn-success float-right"
    (click)="saveEvent()">Save
  </button>
  <button
    [disabled]="!checkChanges()"
    class="btn btn-danger float-right mr-1"
    (click)="deleteEvent()">Delete
  </button>
  <button
    class="btn btn-warning float-right mr-1"
    (click)="clearEventFields()">Clear
  </button>
  <button
    [disabled]="checkChanges()"
    class="btn btn-warning float-right mr-1"
    (click)="resetEventFields()">Reset
  </button>
  <button
    class="btn btn-secondary float-right mr-1"
    (click)="cancelEventField()">Cancel
  </button>
</div>
