<div class="container-fluid text-white">
  <div class="row">
    <img src="../../assets/images/download.png" alt="niks te vinden" class="col-2 d-none d-lg-block p-0 w-25">
    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 text-dark p-0 m-0 mh-100">

      <div class="col-12 bg-light text-center pt-5 h-75 mb-0 page-item">
        <h1 class="">Amsterdam Events</h1>
      </div>

      <div class="col-12 bg-warning h-25 pt-2 d-block">
        <div class="bg-warning float-left">
          <h5>{{ dateTimeFormatted }}</h5>
        </div>
        <div class="bg-warning float-right">
          <h5>Welcome {{SessionService.userName ? SessionService.userName : 'Visitor'}}</h5>
        </div>
      </div>

    </div>
    <img src="assets/images/Peter-Zijlstra-Shutter-Amsterdam-Kroket-food-Dutch.jpg" alt="kroketjes"
         class="col-2 p-0 w-25 bg-dark d-none d-lg-block">
  </div>
</div>
<app-nav-bar2></app-nav-bar2>
