<nav class="navbar bg-dark text-info navbar-expand-md bg-faded justify-content-center">
  <a href="/" class="navbar-brand d-flex w-50 mr-auto">Amsterdam Events</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
    <ul class="navbar-nav w-100 justify-content-center">
      <li class="nav-item active">
        <a class="nav-link" href="#">My Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Account</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item">
        <a class="nav-link" href="#">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Log in</a>
      </li>
    </ul>
  </div>
</nav>

