<nav class="navbar bg-dark text-info navbar-expand-md bg-faded justify-content-center">
  <a routerLink="" class="navbar-brand d-flex w-50 mr-auto">Amsterdam Events</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar3">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
    <ul class="navbar-nav w-100 justify-content-center">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">My Events</a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['events/overview1']">Ov1</a>
          <a class="dropdown-item" [routerLink]="['events/overview2']">Ov2/D2</a>
          <a class="dropdown-item" [routerLink]="['events/overview3']">Ov3/D3</a>
          <a class="dropdown-item" [routerLink]="['events/overview4']">Ov4/D4</a>
          <a class="dropdown-item" [routerLink]="['events/overview42']">Ov42/D42</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">My Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Account</a>
      </li>
    </ul>
    <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['signup']">Sign up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['login']">Log in</a>
      </li>
    </ul>
  </div>
</nav>

