<div class="container" style="padding-top:60px;">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card-group">
        <div class="card p-4">
          <div class="card-body">
            <form name="form" #formElement="ngForm" (ngSubmit)="onLogin()">
              <h1 style="text-align:center">Login</h1>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-user"></i></span>
                </div>
                <input
                  type="text"
                  name="UserName"
                  class="form-control sty1"
                  placeholder="Email"
                  [(ngModel)]="email"
                  required>
              </div>
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="icon-lock"></i></span>
                </div>
                <input
                  type="password"
                  name="Passward"
                  class="form-control"
                  placeholder="Password"
                  [(ngModel)]="password"
                  required>
              </div>
              <div class="row">
                <div class="col-6">
                  <button class="btn btn-primary px-4">Login</button>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
