<div class="container-fluid text-white">
  <div class="row">
    <img src="../../assets/download.png" alt="niks te vinden" class="col-2 p-0 w-25">
    <div class="col-8 text-dark p-0 m-0 mh-100">
      <div class="col-12 bg-light text-center pt-5 h-75 mb-0 page-item">
        <h1 class="">Amsterdam Events</h1>
      </div>
      <div class="col-12 text-right bg-warning pt-3 h-25">
        <h5>Offered to you by Abdul & Kerim</h5>
      </div>
    </div>
    <img src="../../assets/Peter-Zijlstra-Shutter-Amsterdam-Kroket-food-Dutch.jpg" alt="niks te vinden" class="col-2 p-0 w-25 bg-dark">
  </div>
</div>
<!--<a href="https://www.google.com/imgres?imgurl=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F6%2F6d%2FFlag_of_Amsterdam.svg%2F266px-Flag_of_Amsterdam.svg.png&imgrefurl=https%3A%2F%2Fnl.wikipedia.org%2Fwiki%2FVlag_van_Amsterdam&docid=dPcBH8r0aRDXDM&tbnid=RrjH7xhXMdup2M%3A&vet=10ahUKEwjZzJqy67LkAhX3wsQBHXYwCu8QMwgzKAAwAA..i&w=266&h=177&bih=754&biw=1536&q=amsterdam%20teken&ved=0ahUKEwjZzJqy67LkAhX3wsQBHXYwCu8QMwgzKAAwAA&iact=mrc&uact=8" class="col-lg-2 col-md-2 col-xl-2">Hallo hier komt een foto</a>-->

